src/main/resources/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/" name="UserManagementWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/" schemaLocation="user1.xsd"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="listUsers">
<part name="parameters" element="tns:listUsers"/>
</message>
<message name="listUsersResponse">
<part name="parameters" element="tns:listUsersResponse"/>
</message>
<portType name="IUserManagementWS">
<operation name="login">
<input wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="listUsers">
<input wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/listUsersRequest" message="tns:listUsers"/>
<output wsam:Action="http://webservices.retrotracksoapjava.juanmasierragarcia.eu/IUserManagementWS/listUsersResponse" message="tns:listUsersResponse"/>
</operation>
</portType>
<binding name="UserManagementWSPortBinding" type="tns:IUserManagementWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserManagementWSService">
<port name="UserManagementWSPort" binding="tns:UserManagementWSPortBinding">
<soap:address location="https://retrotrack-soap-api:8095/soap/api/user"/>
</port>
</service>
</definitions>